body
{
	font-family: garamond;
	color: #593825 ;
	background-color: #D9D2BF;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
}

h1, h2, h3
{
	font-family: Garamond;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: #BF935E;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #BF7F30;
}

figure
{
	text-align: center;
	border: 1px black solid;
	padding: 4px;
	margin: auto;
}

figcaption
{
	font-style: italic;
	
	
}

nav
{
	text-align: center;
}

table tr:nth-child(even) {
background-color: #BF935E;;
color: #BF7F30; 
}
