<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada+Pro">

body {

   background-color: #ffffff;
}


.name{
margin-left: 100px;
margin-top: 75px;
font-size: 30px;
font-family: "Didot";
color:#000000;
}

.small{
	font-size: 15px;
}
.desc{
	margin-left: 100px;
	margin-top: -25px;
	font-size: 12px;
	font-family: "Didot";
	color: #bbbbbb;
}


.nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav a {
  padding: 6px 6px 6px 100px;
  text-decoration: none;
  font-size: 20px;
  color: #3d3d3d;
  display: block;
}

.nav a:hover {
  color: #848484;
}

.container{
	display:flex;
	margin-top: 50px;
	font-family: "Andada Pro", sans-serif;
}

.contact{
	text-align: center;
	margin-right: 400px;
}

.about{
	
	margin-top: 50px;
	font-size: 23px;
}

.info{
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 250px;
}

.sub{
	font-size: 18px;
}

.main {	
  margin-top: 60px;
  margin-left: 400px; 
}

.doc{
	margin-top: 100px;
	margin-left: 800px;
	margin-right: -215px;
	border: 1px solid black;
	text-align: center;
	margin-right: -275px;
	width: 425px;
	height: 550px;
}
.center{
 margin-right: 400px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}
.check{
	margin-left: 300px;
}



.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  height: 768px;
  width: 543px;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
  border-style: solid;
  border-width: 1px;
  border-color: #DCDCDC;
}

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -4rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card:nth-child(0):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
