		body{
			background-color: #F1F2F9;
		}
		
		header{
		margin-top: 50px;
			text-align: center;
		}
		
		nav{
			text-align: center;
		}
		hr { 
			color: #DCC48E;
			width: 75%;
		} 
		h1, h2, h3{
			font-family: Garamond;
			text-align: center;
			line-height: 0px;
			color: #27233A;
		}
		
		ul {
			list-style: none;
			display: table;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		ul li::before {
			content: "\2022";  
			color: C5C3E9;
		}
		div{
			text-align: center;
			margin: 0cm 20cm 0cm 20cm;
		}
		footer{
		text-align: center;
		}
		button{
			cursor: pointer;
		}
		a{
		text-align: center;
		}
		form{
		text-align: center;
		}